{% extends 'index.html' %} {% block content %}
<div class="container" style="margin-top: 20px;">
    <div>
        <h1 style="text-align: center;">Hello There!</h1>
        <h2 style="text-align: center;">Please fill the form to become a member!</h2> <br>
        <form class="needs-validation" novalidate method="POST" action="">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn btn-success btn-lg">Register Successfully!</button>
        </form>
    </div>
</div>
{%endblock%}