{% extends 'index.html' %} {% block content %}

<div class="container" style="text-align: center; margin-top: 20px;">
    <h1>Here is the list of all the Employees working under you</h1>
    <table class="table">
        <thead class="table-dark ">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name of Department</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        {%for d in allDeptList%}
        <tbody>
            <tr>
                <th scope="row">{{d.id}}</th>
                <td>{{d.name}}</td>
                <td>{{d.location}}</td>
                <td><a type="button" href="{% url 'viewDept' d.pk %}" class="btn btn-danger">VIEW</a></td>
                <td><a type="button" class="btn btn-warning" href="{% url 'updDept' d.pk %}">UPDATE</a>
                </td>
                <td><a type="button" href="{% url 'delDept' d.pk %}" class="btn btn-danger">DELETE</a></td>

            </tr>
        </tbody>{%endfor%}
    </table>
</div>
{%endblock%}